/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ZERANDO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  FUNDO-TELA */
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(34, 34, 34);
    background-image: url(../img/Fundo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*  HEADER-MENU */
header {
    width: 100%;
    height: 7vh;
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    width: 45vw;
    cursor: pointer;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.8rem;
    font-weight: bold;
}

.menu-content .list-itens a:hover {
    color: rgb(31, 141, 223);
    transition: 0.3s all;
}


/* CONTEUDO PRINCIPAL */
main {
    height: 93vh;
    display: flex;
    margin-left: 5rem;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    width: 50%;
    background-color: rgb(31, 141, 223);
    color: rgb(34, 34, 34);
    font-weight: bold;
    cursor: pointer;
}

input {
    margin-top: 20px;
    padding: 15px;
    border-radius: 3rem;
    border: none;
    font-size: 1.7rem;

}

/* TEXTO-MAIN */
h2 {
    font-size: 11rem;
    margin-bottom: 1rem;
    color: rgb(31, 141, 223);
}

p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    max-width: 700px;
}

